<article [formGroup]="PropertyFormData" class="duo-text-control-section">


    <label for="property" class="duo-control-label">
        <p class="control-label-container smallText">
            property:
        </p>
        <input
            type="text"
            class="duo-text-control"
            name="property"
            id="property"
            formControlName="property"
        />
    </label>
    
    <label for="setting" class="duo-control-label">
        <p class="smallText">
            setting:
        </p>
        <input
            type="text"
            class="duo-text-control"
            name="setting"
            id="setting"
            formControlName="setting"
        />
    </label>

    
</article>